<div class="panel panel-success">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th ng-repeat="col in column">[[col]]</th>
        <th style="width:125px;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in data track by record[0]" ng-init="iR=$index">
        <form>
          <td style="max-width:500px;" ng-repeat="v in record track by $index" ng-init="jC=$index">
            <span style="word-break:break-all;word-wrap:break-word;white-space:pre-wrap;">[[v]]</span>
          </td>
          <td style="width:125px;">
            <button class="btn btn-primary btn-sm" ng-click="ready_edit_record(record)">修改</button>
            <button class="btn btn-warning btn-sm" ng-click="delete_record(iR, record)">删除</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary pull-right" ng-click="add_table_record()">添加</button>
