<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">时间精度</span>
      <select class="form-control" ng-model="show.precision" required ng-options="v.name as v.display for v in show.precisions"></select>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <div class="input-group">
      <span class="input-group-addon">指标</span>
      <select class="form-control" ng-model="show.metric" ng-options="v.name as v.display for v in show.metrics"></select>
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <div class="pull-left" style="margin-right:20px;" ng-dblclick="showBig(host)" ng-repeat="host in show.hosts">
      <span ng-bind="host.host"></span>
      <div id="draw_[[host.host]]" style="width:450px;height:250px;border:1px solid black;"></div>
      <div ng-init="draw(host)" class="hide"></div>
    </div>
  </div>
</div>
