<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-tabs">
      <li class="[[item2.active]]" ng-click="setActiveMonMenuTab(item2)" ng-repeat="item2 in activedSubMenu.tabs">
      <a href="javascript:void(0)">[[item2.display]]</a>
      </li>
    </ul>

    <div class="tab-content" style="margin-top:20px;">
      <div class="tab-pane fade" ng-class="item2.active && 'in active'" ng-repeat="item2 in activedSubMenu.tabs">
        <div class="slide-animate-container">
          <div class="slid-animate" ng-include="item2.href" autoscroll></div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 模式对话框  -->
<!-- 大图 -->
<div id="bigDrawModal" class="modal fade" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" style="width:865px;">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">

        <div class="panel panel-info">
          <div class="panel-body">
            <div id="draw_big" style="width:800px;height:450px;"></div>
          </div>
        </div>

      </div>

    </div>
    <!-- ~content -->
  </div>
  <!-- ~ modal -->
</div>
<!-- ~大图 -->

<!-- 增加配置记录 -->
<div id="monitorConfModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="monitorConfModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
        <h6 class="modal-title" id="monitorConfModalLabel">[[recordAction=='update'?'修改':'添加']]记录[ [[sql_table]] ]</h6>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" role="form">

          <div class="form-group" ng-repeat="col in column">
            <label class="col-md-3 control-label">[[col]]:</label>
            <div class="col-md-8">
              <textarea class="form-control" rows="1" style="overflow-y:auto;resize:vertical" name="[[col]]" ng-readonly="col=='id'" ng-model="new_record[col]"></textarea>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_new_record()">确定</button>
      </div>

    </div>
  </div>
</div>

<!-- ~模式对话框 -->
