<div ng-controller="MoniJobCtrl">  

  <div class="row">

    <div class="col-md-10">

      <!-- 第一行 -->
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
          <span class="input-group-addon w7e">展示指标</span>
          <select class="select-block" multiple ng-model="selected_nm_fields" ng-options="k as v for (k,v) in nm_fields"></select>
          </div>
        </div>
      </div>

      <!-- 第二行 -->
      <div class="row" style="padding-top:10px">
        <div class="col-md-12">
          <div class="input-group">
          <span class="input-group-addon w7e">选择机器</span>
          <select class="select-block" multiple ng-model="selected_nm_hosts" ng-options="host for host in nm_hosts"></select>
          </div>
        </div>
      </div>

      <!-- 第三行 -->
      <div class="row" style="padding-top:10px">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon w7e">统计时间</span>
            <select class="select-block" ng-model="nm_time" ng-options="t.value as t.dis for t in timeDict"></select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon w7e">统计间隔</span>
            <select class="select-block" ng-model="nm_split" ng-options="t.value as t.dis for t in timeIntervalDict"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <button class="btn btn-info btn-block" ng-click="nmQuery()">查询</button>
    </div>

  </div>

  <!-- draw -->
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="pull-left" style="margin-right:20px;" ng-dblclick="showBig(metric)" ng-repeat="metric in nm.metrics" ng-init="ID=formatIdName('draw6_' + metric.metric)">

        <!-- panel -->
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="panel-title">[[metric.metric]]</h3></div>
          <div class="panel-body">
            <div id="[[ID]]" style="width:420px;"></div>
            <div ng-init="draw('#'+ID, metric)" class="hide"></div>
          </div>
        </div>
        <!-- ~panel -->

      </div>
    </div>
  </div>

</div>
<script>
  $(function(){
    $("select").selectpicker();
  })
</script>
