<!-- 整体状态 -->
<div class="row">
  <div class="col-md-4" ng-repeat="health in show.healths" ng-init="fI=$index">
    <div class="panel panel-info" ng-switch="health.type">
      <div class="panel-heading"><h3 class="panel-title">[[health.display]]</h3></div>
      
      <div class="panel-body" ng-switch-when="single">
        <span class="center-block text-center [[item.value < 60 && 'font-danger' || ( item.value < 80 && 'font-warning' || 'font-success')]]" style="font-size:500%;">[[health.value]]</span>
      </div>
      
      <div class="panel-body" ng-switch-default>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in health.group">
          <a href="javascript:void(0);" ng-click="gotoa(item.display)" ng-show="fI==1">[[item.display]]</a>
          <span ng-show="fI!=1">[[item.display]]</span>
          <span class="badge [[item.value < 60 && 'danger' || ( item.value < 80 && 'warning' || 'success')]]" ng-show="fI==1">[[item.value]]</span>
          <span class="badge info" ng-show="fI!=1">[[item.value]]</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 实体健康度  -->
<div class="row" style="margin-top:0px;" ng-show="health.type == 'single' || health.group[0].roles" ng-repeat="health in show.healths">
  <div class="col-md-12">
    <div class="panel panel-info" ng-switch="health.type">
      <div class="panel-heading"><h3 class="panel-title">[[health.display]]</h3></div>
      
      <!-- single -->
      <div class="panel-body" ng-switch-when="single">
        <ul class="list-inline">
          <li ng-repeat="h in health.x">
            <span class="label" ng-class="mapColor(health.y[$index])" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]">[[h]]</span>
          </li>
        </ul>
      </div>
      <!-- ~single -->

      <!-- multi -->
      <ul class="list-group" ng-switch-default>
        <li class="list-group-item" ng-repeat="item in health.group">
        <!-- service -->
        <h6><a id="[[item.display]]">[[item.display]]</a></h6>
          <!-- roles -->
          <div class="panel panel-info" ng-repeat="role in item.roles">
            <div class="panel-heading"><h3 class="panel-title">[[role.display]]</h3></div>
            <div class="panel-body">
              <ul class="list-inline">
                <li ng-repeat="h in role.x">
                <span class="label" ng-class="mapColor(role.y[$index])" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]">[[h]]</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- ~roles -->
        </li>
        <!-- ~service -->
      </ul>
      <!-- ~multi -->
    </div>
  </div>
</div>


<script>
  $(function(){
    //$('span[data-toggle="tooltip"]').tooltip({delay:{show:500, hide:100}});
    $('span[data-toggle="tooltip"]').tooltip();
  });
</script>
