<!-- 整体状态 -->
<div class="row" style="margin-top:0px;">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">机器</h3></div>
      <div class="panel-body">
        <span class="center-block text-center" style="font-size:500%;color:RGB(26,188,156);">90</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">服务</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Zookeeper<span class="badge">90</span></li>
          <li class="list-group-item">Zookeeper<span class="badge">90</span></li>
          <li class="list-group-item">Zookeeper<span class="badge">90</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">作业</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">运行作业<span class="badge">23/30</span></li>
          <li class="list-group-item">资源占用<span class="badge">40/40G</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 机器信息  -->
<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">机器健康度</h3></div>
      <div class="panel-body">
        <ul class="list-inline">
          <li ng-repeat="h in show.healths.x">
            <div style="width:30px;height:30px;background-color:rgb([[ show.healths.y[$index] ]],[[ 255-show.healths.y[$index] ]],0);" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]" ng-mouseover=""></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 服务信息  -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">服务健康度</h3></div>
      <div class="panel-body">
        <h6>zookeeper</h6>
        <ul class="list-inline">
          <li ng-repeat="h in show.healths.x">
            <div style="width:30px;height:30px;background-color:rgb([[ show.healths.y[$index] ]],[[ 255-show.healths.y[$index] ]],0);" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]" ng-mouseover=""></div>
          </li>
        </ul>
        <h6>Hdfs</h6>
        <ul class="list-inline">
          <li ng-repeat="h in show.healths.x">
            <div style="width:30px;height:30px;background-color:rgb([[ show.healths.y[$index] ]],[[ 255-show.healths.y[$index] ]],0);" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]" ng-mouseover=""></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    //$('div[data-toggle="tooltip"]').mouseover(function(){alert("show");$(this).tooltip("show");}).mouseout(function(){this.tooltip("hide");});
  });
</script>
