<div class="row" style="margin-bottom:20px;">
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">时间</span>
      <select class="select-block" ng-model="show.precision" required ng-options="v.name as v.display for v in show.precisions"></select>
    </div>
  </div>
</div>

<!-- 健康度历史  -->
<div class="row" ng-repeat="host_metric in show.all_health_history" ng-init="iA=$index">
  <div ng-switch='host_metric.type'>
    <!-- single -->
    <div class="col-md-12" ng-switch-when='single'>
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">[[host_metric.metric]]</h3></div>
        <div class="panel-body">
          <div id="health_history_[[iA]]"></div>
          <div ng-init="draw('#health_history_'+iA,host_metric)"></div>
        </div>
      </div>
    </div>
    <!-- ~single -->
    <!-- multi -->
    <div class="col-md-12" ng-switch-default>
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">[[host_metric.metric]]</h3></div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="one_host_metric in host_metric.group" ng-init="iB=$index">
            <h3 class="panel-title">[[one_host_metric.metric]]</h3>
            <div id="health_history_[[iA]]_[[iB]]"></div>
            <div ng-init="draw('#health_history_'+iA+'_'+iB,one_host_metric)"></div>
          </li> 
        </ul>
      </div>
    </div>
    <!-- ~multi -->
  </div>
</div>
<script>
  $(function(){
    $("select").selectpicker();
  })
</script>
