<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <h6>机器负载</h6>
    <div id="all_host_load" style="width:800px;height:250px;"></div>
    <div ng-init="draw_1()"></div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <h6>磁盘使用率</h6>
    <div id="all_disk_use" style="width:800px;height:250px;"></div>
    <div ng-init="draw_2()"></div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <h6>资源使用率</h6>
    <div id="all_resource_use" style="width:800px;height:250px;"></div>
    <div ng-init="draw_3()"></div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <h6>健康度</h6>
    <table class="table">
      <tr ng-repeat="c in show.healths.row" ng-init="ia=$index+1">
        <td style="width:30px;height:30px;" ng-repeat="r in show.healths.col" ng-init="ib=$index">
          <div style="background-color:rgb([[ show.healths.y[ia*ib] ]],[[ 255-show.healths.y[ia*ib] ]],0);">[[ show.healths.x[ia*ib] ]]</div>
        </td>
      </tr>
    </table>
  </div>
</div>

