<!-- 整体状态 -->
<div class="row">
  <div class="col-md-4" ng-repeat="health in show.healths">
    <div class="panel panel-info" ng-switch="health.type">
      <div class="panel-heading"><h3 class="panel-title">[[health.display]]</h3></div>
      
      <div class="panel-body" ng-switch-when="single">
        <span class="center-block text-center" style="font-size:500%;color:RGB(26,188,156);">[[health.value]]</span>
      </div>
      
      <div class="panel-body" ng-switch-default>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in health.group">[[item.display]]<span class="badge">[[item.value]]</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 实体健康度  -->
<div class="row" style="margin-top:20px;" ng-show="health.type == 'single' || health.group[0].x" ng-repeat="health in show.healths">
  <div class="col-md-12">
    <div class="panel panel-info" ng-switch="health.type">
      <div class="panel-heading"><h3 class="panel-title">[[health.display]]</h3></div>
      
      <!-- single -->
      <div class="panel-body" ng-switch-when="single">
        <ul class="list-inline">
          <li ng-repeat="h in health.x">
            <span class="label" ng-class="mapColor(health.y[$index])" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]" ng-mouseover="">[[h]]</span>
          </li>
        </ul>
      </div>
      <!-- ~single -->

      <!-- multi -->
      <ul class="list-group" ng-switch-default>
        <li class="list-group-item" ng-repeat="item in health.group">
        <h6>[[item.display]]</h6>
        <ul class="list-inline">
          <li ng-repeat="h in item.x">
            <span class="label" ng-class="mapColor(item.y[$index])" data-toggle="tooltip" data-placement="top" title="[[h]]" data-original-title=="[[h]]" ng-mouseover="">[[h]]</span>
          </li>
        </ul>
        </li>
      </ul>
      <!-- ~multi -->
    </div>
  </div>
</div>


<script>
  $(function(){
    //$('div[data-toggle="tooltip"]').mouseover(function(){alert("show");$(this).tooltip("show");}).mouseout(function(){this.tooltip("hide");});
  });
</script>
