<div ng-controller="MoniJobCtrl"> 
  <div class="row">

    <div class="col-md-10">

      <!-- 第一行 -->
      <div class="row">
        <div class="col-md-12">

          <div class="input-group imput-group-sm">
            <span class="input-group-addon">展示指标</span>
            <select class="select-block" chosen  multiple ng-model="rm_fields">
              <option value="app">App状况</option>
              <option value="map">Map状况</option>
              <option value="reduce">Reduces状况</option>
              <option value="file">中间文件读写</option>
              <option value="hdfs">HDFS读写</option>
            </select>
          </div>

        </div>
      </div>

      <!-- 第二行 -->
      <div class="row" style="margin-top:10px"> 
        <div class="col-md-6">

          <div class="input-group imput-group-sm">
            <span class="input-group-addon">统计时间</span>
            <select ng-model="rm_time">
              <!-- <option selected="selected" value ="-1">无</option>  -->
              <option value ="10">最近10分钟</option>
              <option value ="60">最近1小时</option>
              <option value ="180">最近3小时</option>
              <option value="720">最近12小时</option>
              <option value="1440">最近1天</option>
              <option value="4320">最近3天</option>
              <option value="10080">最近7天</option>
              <option value ="-2">自定义</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group imput-group-sm">
            <span class="input-group-addon">统计间隔</span>
            <select ng-model="rm_split">
              <option value ="10">10分钟</option>
              <option value ="60">1小时</option>
              <option value ="180">3小时</option>
              <option value="360">6小时</option>
              <option value="1440">1天</option>
            </select>
          </div>
        </div>
        <!-- col-12 -->

      </div>
    </div>
    <!-- ~col-md-11 -->
    <div class="col-md-2">
      <button class="btn btn-info btn-block" ng-click="rmQuery()">查询</button>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="pull-left" style="margin-right:20px;" ng-dblclick="showBig(metric)" ng-repeat="metric in rm.metrics" ng-init="ID=formatIdName('draw5_' + metric.metric)">

        <!-- panel -->
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="panel-title">[[metric.metric]]</h3></div>
          <div class="panel-body">
            <div id="[[ID]]" style="width:420px;"></div>
            <div ng-init="draw('#'+ID, metric)" class="hide"></div>
          </div>
        </div>
        <!-- ~panel -->

      </div>
    </div>
  </div>
</div>  
<script>
  $(function(){
    $("select").selectpicker();
  })
</script>
