<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">时间</span>
      <select class="form-control" ng-model="show.precision" required ng-options="v.name as v.display for v in show.precisions"></select>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <div class="input-group">
      <span class="input-group-addon">机器</span>
      <select class="form-control" ng-model="show.host" ng-options="host for host in show.hosts"></select>
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <div class="pull-left" style="margin-right:20px;" ng-dblclick="showBig(host_metric)" ng-repeat="host_metric in show.host_metrics" ng-init="ID=formatIdName('draw2_' + host_metric.metric)">
      <button type="button" class="btn btn-primary btn-xs" ng-click="showMetric(host_metric)">[[host_metric.metric]]</button>
      <div id="[[ID]]" style="width:450px;height:250px;border:1px solid black;"></div>
      <div ng-init="draw('#'+ID, host_metric)" class="hide"></div>
    </div>
  </div>
</div>
