<div class="row" style="margin-top:20px;" ng-repeat="service_metrics in show.services_metrics">
  <div class="col-md-12">
    <h6>[[service_metrics.name]]</h6>

    <div ng-repeat="show_metric in service_metrics.show">

      <div ng-switch='show_metric.type'>

        <div ng-switch-when='instance-status'>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-3"><h6>[[show_metric.display]]：</h6></div>
            <div class="col-md-9">
              <span style="margin-right:10px;" ng-repeat="v in show_metric.instance-status">[[ v[0] ]] : [[ v[1] ]]</span>
            </div>
          </div>
        </div>

        <div ng-switch-default>
          <!-- list -->
          <h6>[[show_metric.display]]：</h6>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="metric in show_metric.list">[[ metric[0].display ]]<span class="badge">[[ metric[1] ]]</span></li>
          </ul>
        </div>
      </div>
      <!-- ~ ng-switch-when -->

    </div>
    <!-- ~ show s -->
    
  </div>
</div>
