[cloudera-search]
# Packages for Cloudera Search version 1.x, on RedHat	or CentOS 6 x86_64
name=Cloudera Search version 1.x
baseurl={{local_http_url}}/{{ansible_lsb.major_release}}/cloudera-search/cloudera-search
gpgcheck=0

