SOLR_PORT={{ search__solr_port }}
SOLR_ADMIN_PORT={{ search__solr_admin_port }}
SOLR_LOG=/var/log/solr
SOLR_ZK_ENSEMBLE={{groups.ZOOKEEPER | join(':' ~ zookeeper__zookeeper_client_port + ',')}}:{{zookeeper__zookeeper_client_port}}/solr
SOLR_HDFS_HOME=hdfs://{{hdfs__nameservice_id}}/solr
SOLR_HDFS_CONFIG=/etc/hadoop/conf
# SOLR_KERBEROS_ENABLED=true
# SOLR_KERBEROS_KEYTAB=/etc/solr/conf/solr.keytab
# SOLR_KERBEROS_PRINCIPAL=solr/localhost@LOCALHOST
SOLR_AUTHENTICATION_TYPE=simple
SOLR_AUTHENTICATION_SIMPLE_ALLOW_ANON=true
# SOLR_AUTHENTICATION_KERBEROS_KEYTAB=/etc/solr/conf/solr.keytab
# SOLR_AUTHENTICATION_KERBEROS_PRINCIPAL=HTTP/localhost@LOCALHOST
# SOLR_AUTHENTICATION_KERBEROS_NAME_RULES=DEFAULT
# SOLR_AUTHENTICATION_JAAS_CONF=/etc/solr/conf/jaas.conf
# SOLR_SECURITY_ALLOWED_PROXYUSERS=hue
# SOLR_SECURITY_PROXYUSER_hue_HOSTS=*
# SOLR_SECURITY_PROXYUSER_hue_GROUPS=*
