<pre> 集群: {{ cluster }} 当前的正在告警项: 
{% for key,count in key_word_map.iteritems() -%}
{{key}}:{{count}}
{% endfor %}
</pre>
<style type="text/css">
th 
{
    font-size: 20px;
    border: 1px solid rgb(221, 221, 221)
}
td
{
    font-size: 18px;
    border: 1px solid rgb(221, 221, 221)
}
</style>
以下是最近捕获到的告警监控项
<table>
    <thead>
        <th>时间</th>
        <th>告警key</th>
        <th>详细信息</th>
    </thead>
    <tbody>
        {% for record in alarm_list %}
        <tr>
            <td>{{ record.ts }}</td>
            <td>{{ record.key_word }}</td>
            <td>{{ record.msg }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
