<?xml version="1.0"?>
<allocations>
  <queue name="pool_high">
    <minResources>50000</minResources>
    <weight>6.0</weight>
    <maxRunningApps>8</maxRunningApps>
  </queue>
  <queue name="default">
    <minResources>50000</minResources>
    <weight>3.0</weight>
    <maxRunningApps>35</maxRunningApps>
  </queue>
  <queue name="pool_low">
    <weight>1.0</weight>
    <maxRunningApps>20</maxRunningApps>
  </queue>
  <user name="kpi">
    <maxRunningApps>50</maxRunningApps>
    <weight>3.0</weight>
  </user>
  <userMaxAppsDefault>50</userMaxAppsDefault>
  <defaultMinSharePreemptionTimeout>600</defaultMinSharePreemptionTimeout>
  <fairSharePreemptionTimeout>600</fairSharePreemptionTimeout>
  <queueMaxAppsDefault>30</queueMaxAppsDefault>
  <defaultQueueSchedulingMode>fair</defaultQueueSchedulingMode>
</allocations>
