<?xml version="1.0"?>
<allocations>
  {% for queuestr in yarn__fair_scheduler_queues -%}
  {% set queue = queuestr.split('/') -%}
  <queue name="{{ queue[0] }}">
    <aclSubmitApps>{{ queue[1] }}</aclSubmitApps>
    <weight>{{ queue[2] }}</weight>
    <minResources>{{ queue[3] }}</minResources>
    <maxRunningApps>{{ queue[4] }}</maxRunningApps>
  </queue>
  {% endfor -%}
  <userMaxAppsDefault>{{ yarn__fair_scheduler_userMaxAppsDefault }}</userMaxAppsDefault>
  <defaultMinSharePreemptionTimeout>600</defaultMinSharePreemptionTimeout>
  <fairSharePreemptionTimeout>600</fairSharePreemptionTimeout>
  <queueMaxAppsDefault>{{ yarn__fair_scheduler_queueMaxAppsDefault }}</queueMaxAppsDefault>
  <defaultQueueSchedulingMode>fair</defaultQueueSchedulingMode>
</allocations>
