<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
   <property>
    <name>yarn.nodemanager.local-dirs</name>
    <value>{{yarn__yarn_nm_local_dirs | join(',') }}</value>
  </property>
  <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>{{yarn__yarn_nm_log_dirs | join(',') }}</value>
  </property>
</configuration>
