#/* Disk usage collection groups for 
#    multidisk python module */
modules {
  module {
    name = "multidisk"
    language = "python"
  }
}

collection_group {
  collect_every = 10
  time_threshold = 50
  metric {
    name_match = "([\\S]+)_disk_used"
    name = "\\1_disk_used"
    value_threshold = 1.0
  }
}

collection_group {
  collect_once = yes
  time_threshold = 20
  metric {
    name_match = "([\\S]+)_disk_total"
    name = "\\1_disk_total"
  }
}

