<!DOCTYPE html>
<html data-ng-app="uhpApp">
<head>
<meta charset="UTF-8" />
<title>UHP管理平台</title>
<link rel="stylesheet" href="/statics/css/bootstrap.css" />
<link rel="stylesheet" href="/statics/css/bootstrap-responsive.css" />
<!-- <link rel="stylesheet" href="/statics/css/flat-ui.css" />  -->
<link rel="stylesheet" href="/statics/css/home.css" />
<link rel="stylesheet" href="/statics/css/animations.css" />
<link rel="stylesheet" href="/statics/css/font-awesome.min.css" />
<script type="text/javascript" src="/statics/jslib/vendor/jquery.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular-animate.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular-route.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular-locale_zh-cn.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular-resource.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/angular-cookies.min.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/bootstrap.js"></script>
<script type="text/javascript" src="/statics/jslib/vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
<link rel="apple-touch-ico" href="/statics/img/glyphicons-halflings.png" />
<link rel="apple-touch-ico" href="/statics/img/glyphicons-halflings-white.png" />

</head>
<body>
	<div class="container">
			<div class="row" ng-controller="NarCtrl">
				
				<div class="navbar" >
					<div class="navbar-inner">
						<h3 style="float:left;">管理员界面</h3>
						<div class="pull-right">
							<label class="hor">用户：[[user.name]]</label>
							<!-- 下拉高级操作  -->
							<div class="btn-group">
								<button class="btn drop-down-toggle" data-toggle="dropdown" >
									高级<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/admin#/admin-manual">手动修改</a></li>
								</ul>
							</div>
							<!-- <button class="btn" type="button"><a href="/user">切换到开发者界面</a></button>  -->
							<!-- <button class="btn" type="button"><a href="/admin#/admin-manual">手动修改</a></button> -->
							<button class="btn" type="button"><a href="/logout">登出</a></button>
						</div>
					</div>
				</div>
				
				<div>
					<div class="btn-group" style="display:inline-block">
						<button class="btn btn-large [[isActiveSubmenu(submenu.name)]]" ng-repeat="submenu in submenus">
						<a href="[[submenu.href]]">[[submenu.display]]</a>					
						</button>
					</div>
					<div style="display:inline-block;width:500px;height:90px;border:1px solid rgb(221, 221, 221);overflow-y: scroll;" class="pull-right">
						<alert  ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">[[alert.msg]]</alert>
					</div>
				</div>
			</div>
			
			<div class="row" >
				<div ng-view class="reveal-animation"></div>
			</div>
			
			<!-- 全局共用HTML -->
			<!-- 模式对话框的进度条  -->
			<div id="progressModal" class="modal hide fade" data-backdrop="static" aria-hidden="true" style="width:950px;left:auto;margin-left:0px;">
		        <div class="modal-header">
		            <h3>工作正在执行</h3>
		        </div>
		        <div class="modal-body">
		        	<div class="progress progress-striped active">
					  <div id="progressbar" class="bar" style="width: [[progress]]%;"></div>
					</div>
					<div>
						<pre>[[progressMessage]]</pre>
					</div>
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="btn" data-dismiss="modal" ng-show="!success" ng-click="closeProgress()">返回</button>
		        	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="success">确定</button>
		        </div>
		    </div>
	</div>
	
</body>
<script type="text/javascript" src="/statics/js/base.js"></script>
<script type="text/javascript" src="/statics/js/admin.js"></script>
<script type="text/javascript" src="/statics/js/admin/NarCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/ServiceCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/HostCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/TaskCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/SettingCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/TemplateCtrl.js"></script>
<script type="text/javascript" src="/statics/js/admin/ManualCtrl.js"></script>
<script type="text/javascript">
    angular.element(document).ready(function () {
    });
</script>
</html>
