<!DOCTYPE html>
<html lang="en" data-ng-app="uhpApp">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>UHP管理平台</title>
    <link rel="shortcut icon" href="/statics/favicon.ico">
    <!-- 基础CSS和JS -->
    <link rel="stylesheet" href="/statics/css/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/flatui/2.1.3/css/flat-ui.css">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/statics/css/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/statics/css/home.css"/>

    <script type="text/javascript" src="/statics/jslib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/css/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/statics/css/flatui/2.1.3/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/statics/jslib/angular.js/1.2.4/angular.min.js"></script>
    <script type="text/javascript" src="/statics/jslib/angular.js/1.2.4/angular-route.min.js"></script>
    <script type="text/javascript" src="/statics/jslib/angular.js/1.2.4/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/statics/jslib/angular.js/1.2.4/angular-animate.min.js"></script>
    
    <!-- 增强功能和特性的CSS和JS -->
    <!-- 绘图 -->
    <script type="text/javascript" src="/statics/jslib/echarts-1.4.1/build/echarts-plain.js"></script>
    <!-- for sco.js 页面消息 -->
    <link rel="stylesheet" href="/statics/jslib/scojs/1.0.2/css/scojs.css">
    <script type="text/javascript" src="/statics/jslib/scojs/1.0.2/js/sco.message.js"></script>
    <!-- JS构建SQL语句，支持自定义的查询 -->
    <script type="text/javascript" src="/statics/jslib/squel/3.1.1/squel.min.js"></script>
    <!-- 文件上传插件 -->
    <script type="text/javascript" src="/statics/jslib/angular-file-upload/angular-file-upload.min.js"></script>
    <!-- ui-bootstrap-tpls-0.11.0.min.js -->
    <script type="text/javascript" src="/statics/jslib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  </head>

  <body>

    <div class="container" ng-controller="NarCtrl">

      <!-- 标题 一级菜单 消息 和 用户 --> 
      <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">UHP</a>
          </div>

          <!-- 一级菜单内容 -->
          <div class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
              <li ng-class="item == narmenu && 'active'" ng-repeat="item in menus.menus">
              <a href="[[item.href]]" ng-click='setActiveMenu(item)' ng-bind-html='item.display'></a>
              </li>
            </ul>

            <!-- 飘游菜单 -->
            <ul class="nav navbar-nav navbar-right">
              <li>
              <a href="/admin#/admin-manual" style="cursor:default">&nbsp;</span></a>
              </li>

              <!--
              <li>
              <a href="../about"><span class="glyphicon glyphicon-info-sign"></span></a>
              </li>
              -->

              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user fui-user icon-white"></span> [[user.name]]<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 安全退出</a></li>
              </ul>
              </li>
            </ul>
          </div>
          <!-- ~一级菜单内容 -->
        </div>
      </div>

      <!-- 二级菜单 -->
      <div class="row" ng-show="narmenu.name == 'admin'" style="margin-top:20px;">
        <div class="col-md-12 span12">
          <ul class="nav nav-tabs">
            <li class="[[isActiveSubmenu(item.name)]]" ng-repeat="item in narmenu.submenus">
            <a href="[[item.href]]">[[item.display]]</a>
            </li>
          </ul>
        </div>
      </div>
      <!--
      <div style="display:inline-block;width:500px;height:90px;border:1px solid rgb(221, 221, 221);overflow-y: scroll;" class="pull-right">
        <alert  ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">[[alert.msg]]</alert>
      </div>
      -->
      <!-- 系统消息显示框 -->

      <!-- ~系统消息显示框 -->

    </div>
    <!-- ~header -->

    <div ng-switch='narmenu.name'>

      <div class="container" style="margin-top:20px;" ng-switch-when='monitor'>
        <div class="row">
          <div class="col-md-2 span2" style="border-right:3px dashed rgba(128, 128, 128, 0.3)">
            <!-- 标签页切换 -->
            <ul class="nav nav-pills nav-stacked">
              <li class="[[item.active]]" ng-style="$last && {'margin-top':'2em'}" ng-repeat="item in narmenu.submenus">
              <a style="border:1px dashed rgba(128, 128, 128, 0.5)" href="[[item.href]]" ng-click="setActiveSubMenu(item)">[[item.display]]</a>
              </li>
            </ul>
          </div>
          <!-- ~submenu -->

          <div class="col-md-10 span10">
            <div ng-view class="reveal-animation"></div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top:20px;" ng-switch-default>
        <div ng-view class="reveal-animation"></div>
      </div>

    </div>

    <!-- 全局共用HTML -->
    <!-- 模式对话框的进度条  -->
    <div id="progressModal" class="modal fade" role="dialog" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h6 class="modal-title" id="addHostNameLabel">工作正在执行</h6>
          </div>

          <div class="modal-body">
            <div class="progress progress-striped active">
              <div id="progressbar" class="progress-bar progress-bar-info" role="progressbar" style="width: [[progress]]%;"></div>
            </div>
            <div>
            <pre>[[progressMessage]]</pre>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" ng-show="!success" ng-click="closeProgress()">返回</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="success">确定</button>
          </div>

        </div>
      </div>
    </div>
  </body>
  
  <script type="text/javascript" src="/statics/js/base.js"></script>
  <script type="text/javascript" src="/statics/js/admin.js"></script>
  <script type="text/javascript" src="/statics/js/admin/NarCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/ServiceCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/HostCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/TaskCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/SettingCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/TemplateCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/admin/JarCtrl.js"></script>  
  <script type="text/javascript" src="/statics/js/admin/ManualCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorOverviewCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorHostCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorServiceCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorJobCtrl.js"></script>
  <script type="text/javascript" src="/statics/js/monitor/MonitorConfCtrl.js"></script>
</html>
