
if [ "$SERVICE" = "cli" ]; then
   export HADOOP_CLIENT_OPTS=' {{ hive__HIVE_CLI_OPTS }} '
fi

if [ "$SERVICE" = "metastore" ]; then
   export HADOOP_CLIENT_OPTS=' {{ hive__HIVE_METASTORE_OPTS }} '
fi

if [ "$SERVICE" = "hiveserver" ]; then
   export HADOOP_CLIENT_OPTS=' {{ hive__HIVE_SERVER_OPTS }} '
fi


if [ "$SERVICE" = "hiveserver2" ]; then
   export HADOOP_CLIENT_OPTS=' {{ hive__HIVE_SERVER2_OPTS }} '
fi

