<div  ng-controller="HostsCtrl">

  <div class="row">

    <div class="col-md-12 span12">

      <ul class="nav nav-pills" id="serviceTab">
        <li class="[[tabClass('host')]]"><a ng-click="tab='host'" >机器</a></li>
        <li class="[[tabClass('role')]]"><a ng-click="tab='role'" >角色</a></li>
        <li class="[[tabClass('group')]]"><a ng-click="tab='group'">分组</a></li>
      </ul>

      <div class="tab-content"  style="margin-top:20px">

        <!-- 机器-->	
        <div class="tab-pane fade [[tabClass('host','in')]]">

          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="hostSearchText" ng-change="initChosenHost()" placeholder="过滤机器" >
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-primary" ng-click="readyAddHost()">添加机器</button>
              <button type="button" class="btn btn-danger" ng-click="readyDelHost()">删除机器</button>
              <button type="button" class="btn btn-primary" ng-click="readySendRepo()">分发仓库文件</button>
              <button type="button" class="btn btn-primary" ng-click="readyMoveLog()">移动日志</button>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="settingRack" placeholder="选择机器并设置机架" >
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-primary pull-right" ng-click="readySetRack()">设置机架</button>
            </div>
          </div>
          <!-- ~row -->

          <div class="row" style="margin-top:20px">
            <div class="col-md-12">
              <div class="panel panel-info">
              <table id="table_id" class="table table-striped table-bordered cbtable" >
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" ng-model="chosenAllHost">
                    </th>
                    <th>机器名</th>
                    <th>状态</th>
                    <th>内网ip</th>
                    <th>机架</th>
                    <th>CPU</th>
                    <th>内存</th>
                    <th>硬盘</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(host,value) in filterHostBySearchInfo(hosts,hostSearchText)" >
                    <td>
                      <input type="checkbox" ng-model="chosenHost[host]">
                    </td>
                    <td>[[host]]</td>
                    <td>[[value.info.status]]</td>
                    <td>[[value.info.ip]]</td>
                    <td>[[value.info.rack]]</td>
                    <td>[[value.info.cpu]]</td>
                    <td>[[value.info.mem]]</td>
                    <td>[[value.info.disk]]</td>
                  </tr>
                </tbody>
              </table>	
              </div>
            </div>	
          </div>	
        </div>	
        <!-- ~机器-->	

        <!-- 增加机器的模式对话框 -->
        <div id="hostNewHostModal" class="modal fade" role="dialog" aira-labelledby="addHostNameLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                <h6 class="modal-title" id="addHostNameLabel">添加机器</h6>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6 span6" >
                    <label for="textarea-newhost">机器名:</label>
                    <textarea id="textarea-newhost" class="form-control" rows="15" ng-model="nowHost.hosts" placeholder="请填写hostname(一行一个)"></textarea>
                  </div>	
                  <div class="col-md-6 span6" >
                    <div class="form-group">
                      <label for="input-user" class="control-label">用户：</label>
                      <input id="input-user" class="form-control" type="text" ng-model="nowHost.user" placeholder="特殊用户名" >
                    </div>
                    <div class="form-group">
                      <label for="input-port">端口：</label>
                      <input id="input-port" class="form-control" type="text" ng-model="nowHost.port" placeholder="特殊端口" >
                    </div>
                    <div class="form-group">
                      <label for="input-password">密码：</label>
                      <input id="input-password" class="form-control" type="text" ng-model="nowHost.passwd" placeholder="特殊密码" >
                    </div>
                    <div class="form-group">
                      <label for="input-sudopassword">SUDO密码：</label>
                      <input id="input-sudopassword" class="form-control" type="text" ng-model="nowHost.sudopasswd" placeholder="特殊sudo密码" >
                    </div>
                  </div>	
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addHost()" >确定</button>
              </div>
            </div><!-- ~modal-content -->
          </div><!-- ~modal-dialog -->
        </div><!-- ~modal -->

        <!-- 删除机器的模式对话框 -->
        <div id="hostDelHostModal" class="modal fade" role="dialog" aira-labelledby="delHostNameLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                <h6 class="modal-title" id="delHostNameLabel">删除机器</h6>
              </div>
              <div class="modal-body">
                确定删除以下机器：<br>
                [[chosenHostStr]]
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delHost()" >确定</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 设置机架的模式对话框 -->
        <div id="hostSetRackModal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                <h4 class="modal-title">设置机架</h4>
              </div>
              <div class="modal-body">
                确定设置以下机器的机架为( [[settingRack]] ):<br>
                [[chosenHostStr]]
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setRack()" >确定</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 发送Repo文件的模式对话框 -->
        <div id="sendRepoModal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">确认分发REPO文件</h4>
              </div>
              <div class="modal-body">
                确认针对以下机器分发REPO文件:	
                [[chosenHostStr]]
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendRepo()" >确定</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 发送moveLog文件的模式对话框 -->
        <div id="sendMoveLogModal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">确认移动REPO文件</h4>
              </div>
              <div class="modal-body">
                确认针对以下机器移动日志文件夹:	
                [[chosenHostStr]]
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMoveLog()" >确定</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 角色 -->	
        <div class="tab-pane fade [[tabClass('role','in')]] ">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">选择服务</span>
                <select class="select-block" ng-model="chosenService" ng-options="ser for ser in serviceList" ></select>
              </div>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="hostSearchText" placeholder="过滤机器">
            </div>
            <div class="col-md-2 col-md-offset-2">
              <button type="button" class="btn btn-block btn-warning" ng-click="initHostRole(0)">reset</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-block btn-primary" ng-click="readySetupInstance()">提交</button>
            </div>
          </div>

          <div class="row" style="margin-top:13px;" ng-show="isDoing">
            <div class="col-md-12 text-center">
              <label class="label label-info fui-volume"> 有安装或者卸载正在进行，不能进行修改</label>
            </div>
          </div>

          <div class="row" style="margin-top:13px;">
            <div class="col-md-12">
              <div class="panel panel-info">
                <table id="table_id" class="table table-striped table-bordered" >
                  <thead>
                    <tr>
                      <th>机器\角色</th>
                      <th ng-repeat="role in roles[chosenService]">[[role]]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(host,info) in filterHostBySearch(hostroles,hostSearchText)">
                      <td>[[host]]</td>
                      <td ng-repeat="role in roles[chosenService]">
                        <input type="checkbox" ng-model="hostRoleMap[host][role]" ng-disabled="isDoing" >
                        [[doingStatus(host,role)]]
                      </td>
                    </tr>
                  </tbody>
                </table>	
              </div>
            </div>
          </div>

          <!-- 提交服务的模式对话框 -->
          <div id="hostNewServiceModal" class="modal fade" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                  <h6 class="modal-title">安装/删除服务</h6>
                </div>

                <div class="modal-body">
                  <label>将会安装以下新服务：</label>
                  <ul>
                    <li ng-repeat="instance in addInstance">[[instance.host]]->[[instance.role]]</li>
                  </ul>
                  <label>将会删除以下旧服务：</label>
                  <ul>
                    <li ng-repeat="instance in delInstance">[[instance.host]]->[[instance.role]]</li>
                  </ul>
                  <div ng-show="vars.length!=0">
                    将会添加以下的安装变量:
                    <div class="panel panel-info">
                      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th >服务</th>
                            <th >变量类型</th>
                            <th >分组/机器</th>
                            <th >名称</th>
                            <th >值</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="one in vars">
                            <td>[[ one['service'] ]]</td>
                            <td ng-show="one['showType']=='group'">分组变量</td>
                            <td ng-show="one['showType']=='host'">机器变量</td>
                            <td>[[ one['group'] ]]</td>
                            <td>[[ one['name'] ]]</td>
                            <td><input type="text" ng-model="one['value']" style="width:40px;" ></td>
                          </tr>
                        </tbody>
                      </table>	
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setupInstance()" >确定</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ~ 提交服务的模式对话框 -->
        </div>

        <!-- 分组 -->
        <div class="tab-pane fade [[tabClass('group','in')]] ">

          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="hostSearchText" placeholder="过滤机器">
            </div>
            <div class="col-md-1 col-md-offset-6">
              <button type="button" class="btn btn-warning" ng-click="initHostGroup()">Reset</button>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-primary" ng-click="readyAddGroup()">添加组</button>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-primary" ng-click="readySetupGroup()">提交</button>
            </div>
          </div>

          <div class="panel panel-info" style="margin-top:13px;">
            <table id="table_id" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th >机器\分组</th>
                  <th ng-repeat="(group,text) in groups" ng-dblclick="editGroup(group)" >[[group]]</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(host,info) in filterHostBySearch(hostgroups,hostSearchText)">
                  <td>[[host]]</td>
                  <th ng-repeat="(group,text) in groups">
                    <input type="checkbox" ng-model="hostGroupMap[host][group]" ng-disabled="group=='all'">
                  </th>
                </tr>
              </tbody>
            </table>	
          </div>

          <!--  修改分组关系的模式对话框 -->
          <div id="hostEditGroupModal" class="modal fade" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                  <h6 class="modal-title">修改机器分组</h6>
                </div>

                <div class="modal-body">
                  <label>将会添加以下分组关系：</label>
                  <ul>
                    <li ng-repeat="group in addGroup">[[group.host]]->[[group.group]]</li>
                  </ul>
                  <label>将会删除以下分组关系：</label>
                  <ul>
                    <li ng-repeat="group in delGroup">[[group.host]]->[[group.group]]</li>
                  </ul>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setupGroup()" >确定</button>
                </div>

              </div>
            </div>
          </div>


          <!-- 增加组的模式对话框 -->
          <div id="hostNewGroupModal" class="modal fade" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
                  <h6 class="modal-title">添加/修改机器分组</h6>
                </div>

                <div class="modal-body">

                  <form class="form-horizontal" role="form">

                    <div class="form-group">
                      <span class="col-md-3 control-label">分组名称:</span>
                      <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="nowGroup.group" ng-readonly="nowGroup.edit">
                      </div>
                    </div>

                    <div class="form-group">
                      <span class="col-md-3 control-label">分组注释:</span>
                      <div class="col-md-9">
                        <textarea rows="5" class="form-control" ng-model="nowGroup.text"></textarea>
                      </div>
                    </div>

                  </form>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveGroup()" >确定</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="saveGroup('del')" ng-show="nowGroup.edit" >删除</button>
                </div>

              </div>
            </div>
          </div>
          <!-- ~ modal -->

        </div>
      </div> 	
    </div>
  </div>
</div>
<script>
  $(function(){
    $("select").selectpicker();
  })
</script>
