<div ng-controller="ManualCtrl">
  <div>

  </div>
  <div>
    <div class="input-prepend" style="display:block;">
      <span class="add-on">表:</span><select ng-model="nowTable" ng-options="t as t for (t,meta) in table" ></select>
    </div>
    <div class="input-prepend" style="display:block;">
      <span class="add-on">关键列:</span><input type="text" ng-model="primaryStr" readonly="readonly" style="width:800px;">
    </div>
    <div class="input-prepend" style="display:block;">
      <span class="add-on">普通列:</span><input type="text" ng-model="columnStr" readonly="readonly" style="width:800px;">
    </div>
    <div class="input-prepend" style="display:block;">
      <span class="add-on">sql:</span><input type="text" ng-model="sql" style="width:800px;">
    </div>
    <button class="btn" ng-click="query()">查询</button>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
      <thead>
        <tr>
          <th ng-repeat="col in column">[[col]]</th>
          <th style="width:150px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in data">
          <td ng-repeat="v in record track by $index">[[v]]</td>
          <td>
            <button class="btn" ng-click="edit(record)">修改/删除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div id="editRecordModal" class="modal hide fade" data-backdrop="static"  aria-hidden="true">
      <div class="modal-header">
        <h3>修改记录</h3>
      </div>
      <div class="modal-body">
        <div class="input-prepend" style="display:block;" ng-repeat="col in column">
          <span class="add-on">[[col]]:</span><input type="text" ng-model="nowRecord[col]" style="width:400px;" ng-readonly="isPrimary(col)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">取消</button>
        <button type="button" class="btn "  ng-click="reset()" >重置</button>
        <button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="deleteRecord()" >删除</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveRecord()" >保存</button>
      </div>
    </div>
  </div>
</div>
