<div ng-controller="ServiceCtrl">

  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-2">
      <button class="btn btn-block btn-primary" ng-click="showSetupService()" ng-show="unactiveServices.length!=0" >添加服务</button>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2 span2">
      <ul class="nav nav-pills nav-stacked">
        <li class="[[serviceClass(service)]]" ng-click="changeService(service)" ng-repeat="service in activeServices">
        <a href="javascript:void(0)">[[service]]</a>
        </li>
      </ul>
    </div>

    <div ng-show="hasService" class="col-md-10 span10">

      <!-- 标签页切换 -->
      <ul class="nav nav-tabs" id="serviceTab">
        <li class="[[tabClass('info')]]"><a ng-click="tab='info'">服务概况</a></li>
        <li class="[[tabClass('instance')]]"><a ng-click="tab='instance'">运行实例</a></li>
        <li class="[[tabClass('confvar')]]"><a ng-click="tab='confvar'">配置变量</a></li>
      </ul>

      <div class="tab-content" style="margin-top:20px;">
        <div class="tab-pane fade [[tabClass('info','in')]]">
          <!-- 下拉选择操作  -->
          <div class="btn-group" ng-show="actions.length!=0">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              选择服务操作<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="action in actions" ng-click="readySendServiceAction(action.name,action.display)" tooltip="[[action.tooptip]]">
              <a href="javascript:void(0)">[[action.display]]</a>
              </li>
            </ul>
          </div>

          <button class="btn btn-danger" ng-click="readyDelService()">删除服务</button>

          <div class="btn-group" ng-show="hasurl">
            <button class="btn drop-down-toggle" data-toggle="dropdown">
              web界面 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="url in urls">
              <a href="http://[[url.host]]:[[url.port]]" target="_blank">[[url.host]]-[[url.role]]</a>
              </li>
            </ul>
          </div>

          <button class="btn" ng-click="configFairScheduler()" ng-show="nowService=='yarn'">配置调度器</button>

          <h6>概况</h6>
          <table style="width: 550px;" class="table table-striped table-bordered">
            <tbody>
              <tr ng-repeat="(role,info) in summary">
                <td style="width: 150px;">[[role]]</td>
                <td style="width: 400px;">
                  <span ng-repeat="(k,v) in info">
                    <i class="[[ iconMap[k]['class'] ]]" style="[[ iconMap[k]['style'] ]]"></i>
                    [[v]]_[[k]]
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- 运行实例 -->
        <div class="tab-pane fade [[tabClass('instance','in')]] ">

          <div class="row">
            <div class="col-md-2">
            <!-- 下拉选择操作  -->
            <div class="btn-group">
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="instance-action-button">
                选择实例操作<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="instanceAction in instanceActions" ng-click="readySendInstanceAction(instanceAction.name)" tooltip="[[instanceAction.tooptip]]">
                <a href="javascript:void(0)">[[instanceAction.display]]</a>
                </li>
              </ul>
            </div>
            </div>

            <div class="col-md-3 col-md-offset-7">
              <!-- 列表 -->
              <input type="text" class="form-control" ng-model="instanceSearchText" ng-change="initChosenInstance()" placeholder="实体过滤">
            </div>
          </div>

          <!-- 实体表格 -->
          <table id="table_id" class="table table-striped table-bordered" style="margin-top:20px;">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" ng-model="chosenAllInstance">
                </th>
                <th>名称</th>
                <!--
                <th>角色</th>
                <th>机器</th>
                -->
                <th>机架</th>
                <th>状态</th>
                <th>启动时间</th>
                <th>健康</th>
                <th>最近检测</th>
                <th>检测报告</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="instance in instances|filter:instanceSearchText">
                <td>
                  <input type="checkbox" ng-model="chosenInstance[instance.name]"></td>
                <td>[[instance.name]]</td>
                <!-- <td>[[instance.role]]</td>
                <td>[[instance.host]]</td> -->
                <td>[[instance.rack]]</td>
                <td><i class="[[ iconMap[instance.status]['class'] ]]" style="[[ iconMap[instance.status]['style'] ]]"></i>  [[instance.status]]</td>
                <td>[[instance.uptime]]</td>
                <td><i class="[[ iconMap[instance.health]['class'] ]]" style="[[ iconMap[instance.health]['style'] ]]"></i>  [[instance.health]]</td>
                <td>[[instance.monitor_time]] S</td>
                <td><button class="btn btn-info" ng-click="showInstanceMsg(instance)">报告</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 配置变量页面 -->
        <div class="tab-pane fade [[tabClass('confvar','in')]] ">
          
          <div class="row">

            <div class="col-md-3">
              <!-- 列表 -->
              <select class="form-control" ng-model="showType">
                <option value="group">组变量</option>
                <option value="host">机器变量</option>
              </select> 
            </div>

            <div class="col-md-3">
              <select class="form-control" ng-show="showType=='group'" ng-model="nowGroup" ng-options="group for group in groups"></select>
            </div>

            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="confSearchText" placeholder="过滤">
            </div>

            <div class="col-md-3">
              <button type="button" class="btn btn-primary pull-right" ng-click="addConfVar()">添加配置项</button>
            </div>
          
          </div>

          <table id="table_id" class="table table-striped table-bordered" style="margin-top:20px;">
            <thead>
              <tr>
                <th>[[showConfTitle(showType)]]</th>
                <th>配置名称</th>
                <th>配置数值</th>
                <th>类型</th>
                <th>注释</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-dblclick="editConfVar(var)" ng-repeat="var in confVar|filter:confSearchText">
                <td>[[var.group]]</td>
                <td>[[var.name]]</td>
                <td style="max-width:400px;"><pre>[[var.value]]</pre></td>
                <td>[[var.type]]</td>
                <td>[[var.text]]</td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- ~配置变量 -->

      </div>
      <!-- ~tabcontent -->

    </div>
    <!-- ~tabs -->

    <div ng-show="!hasService" class="col-md-10 span10">
      <label>没有服务可以显示</label>
    </div>

  </div>

  <!-- 以下是模式对话框 -->
  
  <!-- 添加服务的模式对话框 -->
  <div id="serviceSetupModal" class="modal fade" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
          <h6 class="modal-title">添加服务步骤[[setupMove]]</h6>
        </div>

        <div class="modal-body">
          <div class="slide-animate-container">
            <div class="slide-animate" ng-include="getTemplateUrl(setupMove)"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">返回</button>
          <button type="button" ng-show="setupMove!=1" class="btn btn-primary" ng-click="setupMove=setupMove-1">上一步</button>
          <button type="button" ng-show="setupMove!=lastMove" class="btn btn-primary" ng-click="checkAndNextStep()">下一步</button>
          <button type="button" ng-show="setupMove==lastMove" class="btn btn-primary" data-dismiss="modal" ng-click="sendSetupService()">提交</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ~添加服务的模式对话框 -->

  <!-- 提交action的模式对话框 -->
  <div id="serviceActionModal" class="modal fade" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
          <h6 class="modal-title">确认提交任务</h6>
        </div>

        <div class="modal-body">
          <p>确定要对[[getActionObject()]]执行 [[todoDisplay]] ([[todoAction]]) 操作吗？</p>
          <pre ng-show="actionType=='instance'">[[instanceList]]</pre>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendAction()">确定</button>
        </div>

      </div>
    </div>
  </div>
  <!-- ~提交action的模式对话框 -->

  <!-- 确认删除服务的模式对话框 -->
  <div id="delServiceModal" class="modal fade" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
          <h6>确认删除服务</h6>
        </div>

        <div class="modal-body">
          <p>确定要删除[[nowService ]]服务吗？</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            ng-click="sendDelService()">确定</button>
        </div>

      </div>
    </div>
  </div>
  <!-- ~确认删除服务的模式对话框 -->

  <!-- 配置的模式对话框 -->
  <div id="serviceConfModal" class="modal fade" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fui-cross"></span></button>
          <h6>修改配置</h6>
        </div>

        <div class="modal-body">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <span class="col-md-4 control-label">服务:</span>
              <div class="col-md-8">
                <p class="form-control-static">[[nowConfVar.service]]</p>
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-4 control-label">配置名称:</span>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-model="nowConfVar.name">
              </div>
            </div>

            <div class="form-group" ng-show="showType=='group'">
              <span class="col-md-4 control-label">配置组:</span>
              <div class="col-md-8">
                <p class="form-control-static">[[nowConfVar.group]]</p>
              </div>
            </div>

            <div class="form-group" ng-show="showType=='host'">
              <span class="col-md-4 control-label">配置机器:</span>
              <div class="col-md-8">
                <select ng-model="nowConfVar.host" class="form-control" ng-options="host for host in hosts"></select>
              </div>
            </div>
          
            <div class="form-group">
              <span class="col-md-4 control-label">值:</span>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-show="nowConfVar.type=='string'" ng-model="nowConfVar.value">
                <textarea rows="5" class="form-control" ng-show="nowConfVar.type=='list'" ng-model="nowConfVar.value"></textarea>
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-4 control-label">类型:</span>
              <div class="col-md-8">
                <select class="form-control" ng-model="nowConfVar.type">
                  <option value="string">字符串</option>
                  <option value="list">数组(请使用换行分割)</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-4 control-label">注释:</span>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-model="nowConfVar.text">
              </div>
            </div>

          </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="saveConf('del')" ng-show="nowConfVar.del">删除</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveConf()">确定</button>
        </div>

      </div>
    </div>
  </div>
  <!-- ~配置的模式对话框 -->

  <!-- 展示心跳报告的模式对话框 -->
  <div id="showInstanceMsgModal" class="modal fade" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h6>心跳报告</h6>
        </div>

        <div class="modal-body">

          <div class="input-group" style="display: block;">
            <span class="input-group-addon">名称:</span>
            <input type="text" ng-model="showInstance.name" readonly>
          </div>

          <div class="input-group" ng-show="showType=='group'" style="display: block;">
            <span class="input-group-addon">机器:</span>
            <input type="text" ng-model="showInstance.host" readonly>
          </div>

          <div class="input-group" ng-show="showType=='host'" style="display: block;">
            <span class="input-group-addon">角色:</span>
            <input type="text" ng-model="showInstance.role" readonly>
          </div>

          <div class="input-group" style="display: block;">
            <span class="input-group-addon">状态:</span>
            <input type="text" ng-model="showInstance.status" readonly>
          </div>

          <div class="input-group" style="display: block;">
            <span class="input-group-addon">启动时间:</span>
            <input type="text" ng-model="showInstance.uptime" readonly>
          </div>

          <div class="input-group" style="display: block;">
            <span class="input-group-addon">健康:</span>
            <input type="text" ng-model="showInstance.health" readonly>	
          </div>

          <div class="input-group" style="display: block;">
            <span class="input-group-addon">最近检测:</span>
            <input type="text" ng-model="showInstance.monitor_time" readonly>
          </div>

          <div class="input-group" style="display: block;">
            <label>检测报告:</label>
            <pre style="border-style:groove">[[showInstance.msg]]</pre>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >确定</button>
        </div>

      </div>
    </div>
  </div>
  <!-- ~展示心跳报告的模式对话框 -->

  <!-- 配置公平调度器的模式对话框 -->
  <div id="configFairScheduler" class="modal fade" data-backdrop="static" aria-hidden="true">
    <!--  style="width:950px;left:auto;margin-left:0px;" -->
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3>配置公平调度器</h3>
        </div>

        <div class="modal-body">

          <div>
            <div class="input-group" >
              <span class="input-group-addon">总内存数(MB)</span>
              <input style="width:50px"  type="text" ng-model="fair.totalMemory" disabled > 
            </div>
            <div class="input-group"  >
              <span class="input-group-addon">节点数</span>
              <input style="width:50px"  type="text" ng-model="fair.nodes" disabled>
            </div>
            <div class="input-group" >
              <span class="input-group-addon">节点平均内存(MB)</span>
              <input style="width:50px"  type="text" ng-model="fair.nodememory" disabled>
            </div>
          </div>

          <div>
            <div class="input-group"  >
              <span class="input-group-addon">AM内存(MB)</span>
              <input style="width:50px" type="text" ng-model="fair.am" disabled>
            </div>
            <div class="input-group"  >
              <span class="input-group-addon">MAP内存(MB)</span>
              <input style="width:50px" type="text" ng-model="fair.map" disabled >
            </div>
            <div class="input-group" >
              <span class="input-group-addon">REDUCE内存(MB)</span>
              <input style="width:50px" type="text" ng-model="fair.reduce" disabled>
            </div>
            <div class="input-group" >
              <span class="input-group-addon">Container平均内存(MB)</span>
              <input style="width:50px" type="text" ng-model="fair.container" disabled>
            </div>
          </div>

          <div>
            <div class="input-group" >
              <span class="input-group-addon">权值总和</span>
              <input style="width:50px" type="text" ng-model="fair.weightSum" disabled>
            </div>
            <div class="input-group" >
              <span class="input-group-addon">并发应用总和</span>
              <input style="width:50px" type="text" ng-model="fair.appSum" disabled>
            </div>
            <div class="input-group" >
              <span class="input-group-addon">AM占用资源比</span>
              <input style="width:50px;[[rateWarn(fair.appRate)]]" type="text" value="[[fair.appRate]]%" disabled>
            </div>
          </div>

          <div>
            用户资源期望占比:
            <div class="progress">
              <div class="bar bar-[[user.type]]" ng-repeat="user in userResource" style="width:[[user.value]]%;">
                <span>[[user.name]]:[[user.value]]%</span>		
              </div>
            </div>
          </div>

          <div>
            <button class="btn" ng-click="addQueue()">添加队列</button>
          </div>

          <table id="table_id" class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th>队列名称</th>
                <th>所属用户</th>
                <th>权值</th>
                <th>最小共享量(MB)</th>
                <th>并发应用数</th>
                <th>期望资源</th>
                <th>AM资源占比</th>
                <th>删除</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="queue in fairqueues">
                <td style="width:100px"><input type="text" ng-model="queue.name" style="width:70px" ng-change="recal()" ></td>
                <td style="width:100px"><input type="text" ng-model="queue.user" style="width:70px" ng-change="recal()" ></td>
                <td><input type="text" ng-model="queue.weight" style="width:50px" ng-change="recal()" > </td>
                <td><input type="text" ng-model="queue.minResource" style="width:100px" ng-change="recal()" > </td>
                <td><input type="text" ng-model="queue.maxApps" style="width:50px" ng-change="recal()" > </td>
                <td>[[ queue.fairResource ]] MB</td>
                <td style="[[rateWarn(queue.appRate)]]"> [[ queue.appRate ]]%</td>
                <td><button class="btn btn-danger" ng-click="delQueue($index)" >删除</button></td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal" >取消</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveFairScheduler()">保存</button>
        </div>

      </div>
    </div>
  </div>
  <!-- ~配置公平调度器的模式对话框 -->

  <!-- 迁移RM的模式对话框 -->
  <!--  
  <div id="moveRmModal" class="modal fade" data-backdrop="static"
    aria-hidden="true">
    <div class="modal-header">
      <h3>手动迁移ResourceManager</h3>
    </div>
    <div class="modal-body">
      <div class="input-group" style="display: block;">
        <span class="input-group-addon">当前ResourceManager:</span> <input type="text"
        ng-model="nowResourceManager" readonly>
      </div>
      <div class="input-group" style="display: block;">
        <span class="input-group-addon">迁移目标机器:</span> <select ng-model="targetResourceManager"
          ng-options="host for host in hosts" style="margin-bottom: 20px;"
          ng-readonly="sureTargetRM"></select>
      </div>
      <div>
        <table id="table_id" cellpadding="0" cellspacing="0" border="0"
          class="table table-striped table-bordered" ng-show="sureTargetRM">
          <thead>
            <tr>
              <th>序号</th>
              <th>迁移步骤</th>
              <th >是否执行</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="step in steps">
              <td>[[$index+1]]</td>
              <td>[[step]]</td>
              <td><input type="checkbox" ng-model="dostep[$index]"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal">取消</button>
      <button type="button" class="btn btn-primary" ng-show="!sureTargetRM"
        ng-click="sureTargetRM=true">选择目标机器</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="sureTargetRM"
        ng-click="sendMoveRm()">提交活动</button>
    </div>
  </div>
  -->

</div>

<script>
  $(function(){
    $('.dropdown-toggle').dropdown();
  });
</script>
