<div ng-controller="HdfsCtrl">
	<h3>HDFS</h3>
	<div>
		<h5>空间</h5>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
			<thead>
		        <tr>
		           <th rowspan="2">路径</th>
		           <th colspan="5">文件目录数</th>
		           <th colspan="5">存储空间</th>
		        </tr>
		        <tr>
		           <th>上限</th>
		           <th>剩余</th>
		           <th>使用</th>
		           <th>目录数</th>
		           <th>文件数</th>
		           <th>上限</th>
		           <th>剩余</th>
		           <th>使用</th>
		           <th>文件总大小</th>
		           <th>平均副本数</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="quato in quotas">
		            <td>[[quato.path]]</td>
		            <td>[[quato.fdQuota]]</td>
		            <td>[[quato.fdLeft]]</td>
		            <td>[[quato.fdUsed]]</td>
		            <td>[[quato.dirUsed]]</td>
		            <td>[[quato.fileUsed]]</td>
		            <td>[[quato.spaceQuota]]</td>
		            <td>[[quato.spaceLeft]]</td>
		            <td>[[quato.spaceUsed]]</td>
		            <td>[[quato.duSize]]</td>
		            <td>[[quato.avgReplcation]]</td>
		        </tr>
		    </tbody>	
		</table>
	</div>
</div>