#help for settign below 3 context
#dfs.class=org.apache.hadoop.metrics.spi.NullContext
#
#dfs.class=org.apache.hadoop.metrics.file.FileContext
#dfs.period=10
#dfs.fileName=/tmp/dfsmetrics.log
#
#dfs.class=org.apache.hadoop.metrics.ganglia.GangliaContext
#dfs.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
#dfs.period=10
#dfs.servers=localhost:8649

#dfs.class=org.apache.hadoop.metrics.spi.NullContext
#mapred.class=org.apache.hadoop.metrics.spi.NullContext
#jvm.class=org.apache.hadoop.metrics.spi.NullContext
#ugi.class=org.apache.hadoop.metrics.spi.NullContext
#fairscheduler.class=org.apache.hadoop.metrics.spi.NullContext
#
#hbase.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
#hbase.period=60
#hbase.servers={{ ganglia_gmond }}
